<mat-toolbar>

  <!-- LOGO -->

  <div class="logo">

    Servicio Social

  </div>

  <span class="spacer"></span>

  <!-- DESKTOP -->

  <div class="desktop-menu">

    <button
      mat-button
      routerLink="/"
    >
      Inicio
    </button>

    <button
      mat-button
      routerLink="/proceso"
    >
      Requisitos
    </button>

    <button
      mat-button
      routerLink="/requisitos"
    >
       Tips
    </button>

    <button
      mat-button
      routerLink="/tutorial"
    >
      Tutoriales
    </button>

    <button
      mat-button
      routerLink="/checklist"
    >
      Checklist
    </button>

    <button
      mat-button
      routerLink="/faq"
    >
      FAQ
    </button>

    <!-- CHATBOT -->

    <button
      mat-button
      routerLink="/chatbot"
      class="chatbot-btn"
    >
      Asistente
    </button>

    <!-- DARK MODE -->

    

  </div>

  <!-- MOBILE BUTTON -->

  <button
    mat-icon-button
    class="mobile-button"
    (click)="menuAbierto = !menuAbierto"
  >

    <mat-icon>
      menu
    </mat-icon>

  </button>

</mat-toolbar>

<!-- MOBILE MENU -->

<div
  class="mobile-menu"
  *ngIf="menuAbierto"
>

  <button
    mat-button
    routerLink="/"
    (click)="menuAbierto = false"
  >
    Inicio
  </button>

  <button
    mat-button
    routerLink="/proceso"
    (click)="menuAbierto = false"
  >
    Proceso
  </button>

  <button
    mat-button
    routerLink="/requisitos"
    (click)="menuAbierto = false"
  >
    Requisitos
  </button>

  <button
    mat-button
    routerLink="/tutorial"
    (click)="menuAbierto = false"
  >
    Tutoriales
  </button>

  <button
    mat-button
    routerLink="/checklist"
    (click)="menuAbierto = false"
  >
    Checklist
  </button>

  <button
    mat-button
    routerLink="/faq"
    (click)="menuAbierto = false"
  >
    FAQ
  </button>

  <button
    mat-button
    routerLink="/chatbot"
    class="chatbot-btn"
    (click)="menuAbierto = false"
  >
    Asistente
  </button>

  <!-- DARK MODE MOBILE -->

  <button
    mat-button
    class="dark-btn"
    (click)="toggleDarkMode()"
  >

    {{ darkMode ? 'Modo Claro' : 'Modo Oscuro' }}

  </button>

</div>