.videos-section {

  min-height: 100vh;

  padding: 120px 20px;

  background:
  linear-gradient(
    135deg,
    #f5f5f5,
    #ffffff
  );

}

.videos-section h1 {

  text-align: center;

  font-size: clamp(
    2.5rem,
    6vw,
    4rem
  );

  margin-bottom: 20px;

}

.videos-section p {

  text-align: center;

  margin-bottom: 60px;

  font-size: 1.2rem;

}

.video-card {

  max-width: 1000px;

  margin: auto;

  margin-bottom: 50px;

  background: white;

  padding: 30px;

  border-radius: 25px;

  box-shadow: 0 10px 20px rgba(0,0,0,.1);

}

.video-card h2 {

  margin-bottom: 20px;

  color: #2E7D32;

}

video {

  width: 100%;

  border-radius: 20px;

}